* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arvo', serif;
    font-style: normal;
    font-weight: 300;
}

html {
    scroll-behavior: smooth;
}

/* this is creating the naviation bar for the main menu */
.navbar {
    background: #75638b;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem; /* one rem is about 16 pixels */
    position: sticky;
    top: 0;
    z-index: 999; /*makes it to where the menu bar is always at the top of the website*/
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto; /*shortcut for margin top, bottom, right, left.*/
    padding: 0 50px;

}

#navbar_logo {
    background-color: #e6b57c;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration:none;
    font-size: 2rem;
}

/* this is useless */
.fa-gem {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1 rem;
    width: 100%;
}

/* creates the Support Us button on the navigation menu */
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #e590a5;
    color:#fff;
}

.button:hover {
    background: #75638b;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #75638b;
    transition: all 0.3s ease;
}

/* creates home screen navigation bar for phones and tablets*/
@media screen and (max-width: 960px) { /* when it hits 960px, trigger these classes*/
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px; /* makes tops not be seen until you clikck on it*/
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh; /* viewport height*/
        z-index: -1; /* makes it to where you click on icon to trigger it*/
        background: #75638b;
    }


    .navbar__menu.active {
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }



    #navbar__logo {
        padding-left: 10rem;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3 ease-in-out;
        background:#fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2 rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    /*starting to make the outline of the Support Us button*/

    .navbar__btn {
        padding-bottom: 2 rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80px;
        margin: 0;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
}
}

/* home screen section*/
.main {
    background-color: #e8d0d9;
}

.main_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #e590a5;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}


/* edits the look of THE GRAND BRUNO HALL PODCAST */
.main__content h1 {
    font-family: 'Nanum Myeongjo', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 8rem;
    border-color: #e8d0d9;
    background: hsl(338, 34%, 86%);
    padding-top: 8rem;
    position: center;
    background-color: #e8d0d9;
    text-align: center;
    background-image: linear-gradient(to top, #dac291 0%, #dac291 /* i didnt know whether the gradient looked good or not so i just deleted it*/
     100%);
    background-size: 100%;
    -webkit-background-clip: text;
   -moz-background-clip: text;
   -webkit-text-fill-color: transparent;
   -moz-text-fill-color: transparent;
}

.main__content h2 {
    font-size: 2rem;
    border-color: #e8d0d9;
    color: #dac291;
    position: center;
    text-align: center;
    
}


/* edits the look of the Listen Now button before animation*/
/*
.main__btn {
    font-size: 1 rem;.....
    background-image: linear-gradient(to top, #2f292a 0%, #e590a5 100%);
    padding: 14px 32px;/////////
    border: none;///////////
    border-radius: 4px;////////
    color: #fff;///////
    margin-top: 2rem;
    cursor: pointer;/////
    position: relative;////////
    transition: all 0.35s;
    outline: none;////////
}
*/


/* gets rid of the underline of the words 
.main__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}
*/

/* changes the color when you are hovering over Listen Now*/
/*
.main__btn:after {
    position: absolute;
    content: ''; makes it to when you hover over it, nothing is there except for the color
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #75638b;
    transition: all 0.35s;
    border-radius: 4px;
}


main__btn:hover {
    color: #fff;
}

.main__btn:hover:after {
    width: 100%;
}
*/

.main__img--container {
    margin-top: 8rem;
    text-align: center;
}

#main__img {
    height: 50%;
    width: 50%;
}

/*  creates home screen for phone annd tablet responsive */
@media screen and (max-width: 768px) {
    .main__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }

    .main__content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .main__content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main__btn {
        padding: 15px 45px;
        margin: 4.5rem 0;
    }
}

@media screen and(max-width: 480px) {

    .main__content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main__btn {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}

/* episode section on home page*/
.episodes h1 {
    font-size: 8rem;
    margin-top: 8rem;
    color: #dac291;
}

.episodes {
    background: #e8d0d9;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding-bottom: 60rem;
}


.episodes__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Taylor's card */
.episodes__card {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%), url('images/taylor.jpg');
    background-size: cover;
    position: relative;
    color: #75638b;
}

/* Introduction card*/
.episodes__card:nth-child(2) {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%), url('images/bmn.jpg');
    background-size: cover;
    position: relative;
    color: #75638b;
}

.episodes h2 {
    position: absolute;
    top: 350px;
    left: 30px;
}

.episodes__card p {
    position: absolute;
    top: 400px;
    left: 30px;
}

.episodes__card button {
    color: #fff;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #e590a5;
    position: absolute;
    top: 440px;
    left: 30px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.35s;
}


/*
.episodes__card button:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #75638b;
    transition: all 0.35s;
    border-radius: 4px;
}
*/

episodes__card button:hover {
    color: #fff;
}

.episodes__card button:hover:after {
    width: 100%;
}


/* makes the cover card have a little pulse affect */
.episodes__card:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}

@media screen and (max-width: 960px) {
    .episodes {
        height: 1600px;
    }
}

@media screen and (max-width: 480px) {
    .episodes {
        height: 1400px;
    }

    .episodes__card {
        width: 300px;
    }
}


.support__btn {
    font-size: 2rem;
    background-image: linear-gradient(to top, #e590a5 0%, #e590a5 100%);
    padding: 24px 42px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 4rem;
    margin-bottom: 4rem;
    align-items: center;
    justify-self: center;
    text-align: center;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none
    

}




.support__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}


/* changes the color when you are hovering over Listen Now*/

.support__btn:after {
    position: absolute;
    content: ''; /*makes it to when you hover over it, nothing is there except for the color */
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #75638b;
    transition: all 0.35s;
    border-radius: 4px;
}


support__btn:hover {
    color: #fff;
}

.support__btn:hover:after {
    width: 100%;
}




/* footer */
.footer__container {
    background-color: #75638b;
    border-color: #e8d0d9;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: content;
    align-items: center;
}

.footer__links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer__link--wrapper {
    display: flex;
}

.footer__link--items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer__link--items h2{
    margin-bottom: 16px;
}

.footer__link--items > h2 {
    color: #dac291;
}

.footer__link--items a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer__link--items a:hover {
    color: #dac291;
    transition: 0.3s ease-out;
}
/*
.social__media {
    max-width: 1000px;
    width: 100%;
}*/

.social__media--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.website__rights {
    color: #dac291;
    /*align-items: center; */
    /*justify-content: center;*/
    text-align: center;
}



@media screen and (max-width: 820px) {
    .footer__links {
        padding-top: 2rem;
    }

    .website__rights {
        margin-bottom: 2rem;
        justify-content: center;
        align-items: center;
    }

    .website__rights p{
        align-items: center; 
        justify-content: center;
        position: absolute;
        text-align: center;
    }

    .footer__link--wrapper {
        flex-direction: column;
    }

    .social__media--wrap {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .footer__link--items {
        margin: 0;
        padding: 10px;
        width: 100%;
    }
}
/* plug in spotify and youtube links with each diffeernt episode card */

/*trying to make a drop down for the podcast episode card options*/




