* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: beaufort-pro, serif;
    font-style: normal;
    font-weight: 300;
}

.navbar {
    background: #e8d0d9;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem; /* one rem is about 16 pixels */
    position: sticky;
    top: 0;
    z-index: 999; /*makes it to where the menu bar is always at the top of the website*/
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto; /*shortcut for margin top, bottom, right, left.*/
    padding: 0 50px;

}

#navbar_logo {
    background-color: #e6b57c;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration:none;
    font-size: 2rem;
}

.fa-gem {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1 rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #e590a5;
    color:#fff;
}

.button:hover {
    background: #75638b;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #75638b;
    transition: all 0.3s ease;
}

/* for phones and tablets*/
@media screen and (max-width: 960px) { /* when it hits 960px, trigger these classes*/
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px; /* makes tops not be seen until you clikck on it*/
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh; /* viewport height*/
        z-index: -1; /* makes it to where you click on icon to trigger it*/
        background: #75638b;
    }


    .navbar__menu.active {
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }



    #navbar__logo {
        padding-left: 10rem;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3 ease-in-out;
        background:#fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2 rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    /*starting to make the outline of the Support Us button*/

    .navbar__btn {
        padding-bottom: 2 rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80px;
        margin: 0;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
}
}

/*hero section*/
.main {
    background-color: #e8d0d9;
}

.main_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #e8d0d9;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}


/* edits the look of THE GRAND BRUNO HALL PODCAST */
.main__content h1 {
    font-size: 4 rem;
    background-color: #e8d0d9;
    background-image: linear-gradient(to top, #dac291 0%, #dac291 /* i didnt know whether the gradient looked good or not so i just deleted it*/
     100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}


/* edits the look of the Listen Now button before animation*/
.main__btn {
    font-size: 1 rem;
    background-image: linear-gradient(to top, #e590a5 0%, #e590a5 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}


/* gets rid of the underline of the words */
.main__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}


/* changes the color when you are hovering over Listen Now*/
.main__btn:after {
    position: absolute;
    content: ''; /* makes it to when you hover over it, nothing is there except for the color*/
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #75638b;
    transition: all 0.35s;
    border-radius: 4px;
}

main__btn:hover {
    color: #fff;
}

.main__btn:hover:after {
    width: 100%;
}

.main__img--container {
    text-align: center;
}

#main__img {
    height: 80%;
    width: 80%;
}

/* phone annd tablet responsive */
@media screen and (max-width: 768px) {
    .main__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }

    .main__content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .main__content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }
}

@media screen and(max-width: 480px) {

    .main__content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main__btn {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}

